fastapi
uvicorn
ultralytics
torch
torchvision
python-multipart
pillow
sqlalchemy
psycopg2-binary
python-dotenv
huggingface_hub
numpy
opencv-python
redis
langchain
langchain-openai
scikit-learn
apscheduler
requests